ul {
  list-style: none;
  padding: 0 !important;
}
.card {
  width: 250px;
  height: 300px;
  background: #1b1b1b !important;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 0px 5px  #1b1b1b;
  margin: 1rem;
}
.card .card_image {
  position: relative;
  height: 150px;
  width: 100%;
  display: block;
  margin: auto;
  color: #c8c8c8;
  filter: drop-shadow(0 0 5px #111111);
}

.card .card_info {
  height: 100%;
  border-radius: 12px 12px 0 0;
  width: 100%;
  color: #fff;
  display: flex;
  background: linear-gradient(#4f4f4f64, transparent);
}
.card .card_info {
  font-size: 0.8rem;
  max-height: 120px;
}
.card .card_info .left_info,
.card .card_info .right_info {
  flex: 1;
  padding: 16px;
}
.card .card_info .left_info .product_title {
  font-size: clamp(.5rem,.6vw,.7rem);
  line-height: 1.1;
  letter-spacing: 0.4px;
  font-weight: bold;
  margin-bottom: 18px;
  display: block;
}
.card .card_info p {
  font-size: clamp(.5rem,.7vw,.7rem);
  margin-top: 12px;
  line-height: 1.2;
  letter-spacing: 0.3px;
  font-weight: normal;
}
.card .card_info .left_info .star_rating {
  display: flex;
  margin-top: 20px;
}
.card .card_info .left_info .star_rating span {
  display: block;
  width: 15px;
  color: #f9b20b;
}
.card .card_info .right_info {
  margin: 0;
  position: relative;
}
.card .card_info .right_info::before {
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - 20px);
  background: #f9b20b;
  left: -5px;
}

.card .card_info .right_info ul {
  margin: 0;
  list-style: none;
}
.card .card_info .right_info ul li {
  padding: 0;
  font-size: clamp(.5rem,.7vw,.7rem);
  margin: 10px 0;
}
.card .card_info .right_info ul li:first-child {
  margin-top: 0;
}
.card .card_info .right_info ul li p.feature_sub_title {
  font-size: clamp(.5rem,.6vw,.7rem);
  margin-bottom: 5px;
  letter-spacing: 0.3px;
  line-height: 0.9;
  color: #f9b20b;
  font-weight: bold;
  text-transform: uppercase;
}
.card .card_info .right_info ul li .feature_sub_title:first-child {
  margin-top: 0;
}
.add_to_cart_btn {
  display: flex;
  position: absolute;
  bottom: 10px;
  margin-top: 20px;
  width: 100%;
  flex: 1;
  flex-basis: 200px;
  margin: auto;
  justify-content: center;
}
.add_to_cart_btn button {
  border: none;
  font-size: clamp(.5rem,.7vw,1rem);
  background: linear-gradient(
    45deg,
    transparent,
    #f9b20b 40%,
    #d09409,
    #956a07 60%,
    transparent
  );
  padding: 6px 10px;
  color: #fff;
  font-weight: bold;
  background-size: 200%;
  background-position: 0% 0%;
  text-transform: uppercase;
  border-radius: 30px;
  transition: 0.4s ease-in-out;
}
.card .card_price_tag {
  position: absolute;
  right: 12px;
  top: 0;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#b68208, #f9b20b);
}
.card svg {
  position: absolute;
}
.card::before {
  position: absolute;
  content: "";
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9b20b;
  filter: blur(25px);
  /* box-shadow: 0 0 70px 0 #f9b20b; */
}
.card svg.ring_1 {
  top: 16px;
  left: 16px;
  rotate: 210deg;
  filter: blur(1px) brightness(0.7);
  transition: 1s ease-in-out;
}
.card svg.ring_2 {
  top: 40%;
  right: 0;
  rotate: 150deg;
  filter: brightness(0.5);
  transition: 0.8s ease-in-out;
}
.card svg.ring_3 {
  top: 40%;
  left: 5px;
  rotate: 270deg;
  filter: brightness(0.7);
  transition: 0.9s ease-in-out;
}

.card:hover svg.ring_1 {
  top: 6px;
  left: 20%;
  rotate: 230deg;
  scale: 1.25;
}
.card:hover svg.ring_2 {
  top: 45%;
  right: 15px;
  rotate: 210deg;
  filter: brightness(0.9);
  scale: 1.3;
}
.card:hover svg.ring_3 {
  top: 32%;
  left: 5%;
  rotate: 210deg;
  filter: brightness(1);
  scale: 1.3;
}

.card .add_to_cart_btn button:hover {
  background-position: 100% 100%;
}

@media (max-width:550px){
  .card{
    width: 200px;
  }
  .right_info{
    padding-left: 2% !important;
  }
  .left_info{
    padding-right: 2% !important;
  }
}
@media (max-width:450px){
  .card{
    width: 180px;
    margin: 0rem;
    margin-block: 1rem;
  }
}